
     body {
       margin: 0;
       background-color: #efefef;
       color: #373a3c;
     }

     h1 {
       margin: 35px 0px;
     }

    a {
      text-decoration: none;
    }

    li {
      list-style: none;
    }

    .list {
      text-align: center;
      padding: 15px 20px 15px 25px;
      color: #cccccc;
    }

    .menu_line {
      border-left: 3px solid #666;
    }

    #site_nav {
      background-color: #4d6c8b;
      text-align: center;
      font-weight: bold;
    }

    #site_title {
      font-size: 50px;
      margin: 0px;
      padding: 40px;
      color: white;
    }

    #menu_container {
      margin: 0px;
      padding: 1.2em;
      font-size: 25px;
    }

    #menu_container li {
      display: inline;
      padding: 20px 0;
      cursor: pointer;
    }

    #article {
      padding: 45px;
      padding-top: 30px;
      max-width: 1350px;
      margin: 0 auto;
      background-color: #fff;
      border-right:3px solid #ccc;
      border-left:3px solid #ccc;
      margin-top: 0;
    }

    #present_page {
      color:#ffffff;
      font-weight: bold;
    }

    .heading {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }

    #generals {
      width: 100%;
      height: 100px;
      background-color: #f5f5f5;
      border-collapse: collapse;
    }

    #generals td {
      border: 3px solid #ddd;
      padding: 8px;
      text-align: center;
      width: 16.6%;
      font-weight: bold;
      font-size: 18px;
    }

    .general_heading {
      background-color: #000000;
      color: #ffffff;
    }

    .hero_list {
      display: inline-block;
      width: 580px;
      text-align: center;
      font-size: 20px;
      margin: 20px 0px;
      font-weight: bold;
      border-collapse: collapse;
    }

    .hero_heading {
      background-color: #000000;
      border: 3px solid #ddd;
      border-bottom: none;
      color: #ffffff;
      padding: 5px 10px;
    }

    .hero_list_p {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0px;
      margin: 0px;
    }

    .hero_list_p li{
      display: inline-block;
      padding: 5px 10px;
      border: 3px solid #ddd;
    }

    .hero_list_p a {
      color: gray;
    }

    #present_hero {
      color: #000000;
    }

    .hero_main_pic {
      width: 100%;
    }

    .hero_pic {
      font-family: cursive;
      margin: 2em 0;
      padding: 1em calc(2em + 25px) 1em 1em;
      background-color: #eee;
      border: 3px dashed #ccc;
      border-left: 7px solid #71bc6d;
      display: table;
    }

    #dng_pic {
        width: 500px;
    }

    #hero_skill_container {
      width: 100%;
      height: 200px;
      border-collapse: collapse;
      background-color: #f5f5f5;
      margin: 50px 0px 50px 0px;
    }

    #hero_skill_container td{
      border: 3px solid #ddd;
      padding: 10px;
      width: 25%;
      text-align: center;
      font-weight: bold;
    }


    .skill_header, .skill_list {
      color: #ffffff;
      background-color: #000000;
    }

    .paragraph {
      margin-bottom: 20px;
    }

    .Kingdom_video {
      background-color: #eee;
      border: 3px dashed #ccc;
      border-left: 7px solid #71bc6d;
      padding: 0.8em;
      display: table;
      width: 750px;
    }

    .Kingdom_video iframe {
      width: 700px;
      height: 350px;
      margin: 30px;
  }


    /*여기부터는 미디어쿼리 입니다.*/
    /*PC모니터 화면 절반*/
    @media(max-width:960px) {

      .hero_pic {
        margin: 30px auto;
        padding: 16px 40px;
      }

      #menu_container {
        font-size: 20px;
      }

      #article {
        padding: 30px 55px;
      }

      .hero_list {
        display: table;
        margin: 30px auto;
      }
    }
